{"swagger":"2.0","info":{"title":"Azure Maps Connector","description":"Azure Maps Connector for searching geolocation","version":"1.0"},"host":"atlas.microsoft.com","basePath":"/","schemes":["https"],"consumes":[],"produces":[],"paths":{"/search/address/json":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Search Address","operationId":"GetSearchAddress","parameters":[{"name":"subscription-key","in":"query","required":false,"type":"string"},{"name":"api-version","in":"query","required":false,"type":"integer","default":1},{"name":"language","in":"query","required":false,"type":"string","default":"en-US"},{"name":"query","in":"query","required":false,"type":"string"},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json"}],"description":"This actions allows user to retrieve geolocation data based of the address provided."}},"/search/address/reverse/json":{"get":{"responses":{"default":{"description":"default","schema":{}}},"operationId":"GetSearchAddressReverse","summary":"Get Search Address Reverse","description":"Use to get a street address and location info from latitude and longitude coordinates. The Get Search Address Reverse API is and HTTP GET request that returns a street address or location when given latitude and longitude coordinates.","parameters":[{"name":"api-version","in":"query","required":false,"type":"integer","default":1},{"name":"query","in":"query","required":false,"type":"string"},{"name":"subscription-key","in":"query","required":false,"type":"string"},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json"}]}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{},"security":[],"tags":[]}